{% extends 'base.html' %}
{% block content %}

     <div class="container mt-4">
        <h1>Product List</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ product.price }} - {{ product.description }}</p>
                            <a href="{% url 'product-detail' pk=product.pk %}">{{ product.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
     <div class="row">
         <a href="{% url 'product-create' %}"> Add Product</a>
     </div>
    </div>
{% endblock %}